.techs{
  background: #272727;
  max-width: 100%;
  font-family: Inter, Arial, sans-serif;
  padding: 100px 0;
}

.techs__container{
  width: calc(100% - 70px * 2);
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.techs__title{
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  padding: 0 0 23px 0;
  letter-spacing: -0.04em;
  border-bottom: 1px #DADADA solid;
  margin: 0;
  color: #FFFFFF;

}
.techs__subtitle{
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  /* identical to box height, or 116% */
  margin: 90px 0 0;
  text-align: center;
  letter-spacing: -0.04em;

  color: #FFFFFF;

}

.techs__text{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  text-align: center;
  letter-spacing: -0.04em;
  margin: 26px 0 0;
  color: #FFFFFF;

}

.techs__items{
  max-width: calc(100vw - 295px * 2);
  margin: 100px auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  grid-template-rows: 60px ;
  gap: 10px;
  grid-auto-rows: 60px;
}

.techs__item{
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  background: #303030;
  border-radius: 10px;
  text-align: center;
  letter-spacing: -0.04em;
  margin: 0;
  color: #FFFFFF;

}

@media (max-width: 1175px){
  .techs{
    padding: 90px 0;
  }
  .techs__text{
    font-size: 12px;
    line-height: 18px;
    margin: 22px 0 0;
  }
  .techs__subtitle{
    margin: 80px 0 0;
  }
  .techs__items{
    max-width: calc(100vw - 60px * 2);
    margin: 83px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(84px, 1fr));
    grid-template-rows: 57px ;
    grid-auto-rows: 57px;
  }
  .techs__container{
    width: calc(100% - 50px * 2);
    max-width: 668px;
  }
}

@media (max-width: 586px){
  .techs{
    padding: 70px 0;
  }
  .techs__container{
    width: calc(100% - 18px * 2);
    max-width: 668px;
  }
  .techs__title{
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    padding: 0 0 28px 0;
    border-bottom: 1px #000000 solid;

  }
  .techs__subtitle{
    margin: 60px 0 0;
    font-size: 30px;
    line-height: 36px;
  }
  .techs__text{
    font-size: 11px;
    line-height: 16px;
    margin: 24px 0 0;
  }
  .techs__items{
    max-width: calc(100vw - 71px * 2);
    margin: 50px auto 0;
  }
}
