.promo{
  display: flex;
  flex-direction: column;

  align-items: center;
 max-width: 100%;
 background: #073042;
 margin: -74px 0 0 0;
 padding: 74px 0 224px 0;
 font-family: Inter, Arial, sans-serif;
}
.promo__title{
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  /* or 116% */

  max-width: 730px;
  width: calc(100% - 275px * 2);
  text-align: center;
  letter-spacing: -0.04em;
  margin: 184px auto 0;
  color: #FFFFFF;
  z-index: 4;
}

.promo__logo{
  margin-top: 82px;
  position: absolute;
  z-index: 3;
}
@media (max-width: 1175px){
  .promo__title{
    margin: 326px auto 0;
    width: calc(100% - 19px * 2);
  }
  .promo{
    padding: 74px 0 342px 0;
  }
  .promo__logo{
    margin-top: 224px;
  }
}

@media (max-width: 586px){
  .promo__title{
    margin: 207px auto 0;
    width: calc(100% - 10px * 2);
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    line-height: 39px;
  }
  .promo{
    padding: 74px 0 246px 0;
  }
  .promo__logo{
    width: 248px;
    height: 248px;
    margin-top: 142px;
  }
}
