.search-form{
  padding: 70px 0 10px;
  font-family: Inter, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  width: calc(100vw - 70px - 70px);
  max-width: 1140px;
  margin: 0 auto;
}
.search-form__container{
  width: 100%;
  height: 72px;
  border: 1.5px solid rgba(170,170,170, 0.2);
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.search-form__input{
  background-color: unset;
  font: unset;
  text-rendering: unset;
  letter-spacing: unset;
  word-spacing: unset;
  text-transform: unset;
  text-indent: unset;
  text-shadow: unset;
  display: unset;
  text-align: unset;
  appearance: unset;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  /* or 111% */

  margin-left: 25px;
  color: #8B8B8B;;
  border: none;
  width: 80%;
}

.search-form__input:focus {
  outline: none;
}

.search-form__button{
  background: #4285F4;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  text-align: center;

  color: #FFFFFF;


  /* identical to box height */
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  border: none;
  padding: 17px 20px;
  margin-right: 10px;
  min-width: 100px;
}
.search-form__button:focus {
  outline: none;
}
.search-form__button:hover {
  opacity: 0.8;
}

.search-form__checkbox-label{
  display: flex;
  flex-direction: row;
  background: #343434;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 20px;
  width: 36px;
}
.search-form__checkbox{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.search-form__visible-checkbox{
  display: inline-block;
  transform: translateX(8px);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #2BE080;
  border: 1px solid #FFFFFF;
  transition: transform 0.3s ease-in-out;
}
.search-form__checkbox:checked + .search-form__visible-checkbox{
  transform: translateX(-8px);
}

.search-form__checkbox:focus + .search-form__visible-checkbox{
  display: inline-block;
  outline: none;
}
.search-form__checkbox:disabled + .search-form__visible-checkbox{
  display: inline-block;
  background: #343434;
 }


.search-form__checkbox-container{
  margin-top: 26px;
  display: flex;
  flex-direction: row;
  padding-bottom: 43px;
  border-bottom: 1px rgba(170,170,170, 0.2) solid;
}
.search-form__checkbox-title{
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height, or 138% */

  margin: 0 0 0 14px;
  color: #FFFFFF;

}
@media (max-width: 1175px){
  .search-form{
    width: calc(100vw - 30px - 30px);
  }
  .search-form__checkbox-container{
    padding-bottom: 51spx;
  }
}
@media (max-width: 586px){
  .search-form{
    width: calc(100vw - 14px - 14px);
  }
  .search-form__checkbox-title{
    font-size: 11px;
    line-height: 18px;
  }
  .search-form__button{
    padding: 13px 10px;
    min-width: 80px;
    margin-right: 6px;
  }
  .search-form__container{
    height: 56px;
  }
  .search-form__input{
    font-size: 16px;
    line-height: 16px;
    margin-left: 12px;
  }
  .search-form__checkbox-container{
    margin-top: 30px;
    padding-bottom: 61px;
  }
}
